$info: #82CFF0;
$primary: #3D5159;

.formulario {
    width: 50%;
}

input[type="text"]:hover {
    border-color: $primary;
}

.invisible {
    opacity: 0;
}

.agregar {
    height: 2rem;
}

.turnoDuplicado {
    display: none;
}

body>.container-fluid {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparentize($color: #6c757d, $amount: 0.6);

}

.trashcan {
    width: 1rem;
    z-index: 1;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

.intervalo {
    width: 6rem;
}

.mod1 {
    width: 60%;
    margin: 5rem 3rem;
    height: 70vh;
    border: #82CFF0 dashed 4px !important;
    background-color: #6c757d !important;
    opacity: 1;
}

.enviar {
    width: 25% !important;
    max-width: 25% !important;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.error {
    background-color: red !important;
    color: white !important;

}

.invisibleErr {
    display: none
}

.naranja {
    display: block;
    font-size: 18px;
    color: orange;
    z-index: 0;
    padding-top: 3rem;
    margin: 0;
    margin-top: 1rem;
    position: absolute;

}

////////importacion////////////////////////////////
@import "../node_modules/bootstrap/scss/bootstrap.scss"